LI4DEVS.OPENAI.AIKEY=<<your Azure OpenAI Key>>
LI4DEVS.OPENAI.AIENDPOINT=<<your Azure OpenAI Endpoint>>
LI4DEVS.OPENAI.MODELDEPLOYMENTNAME=<<your Model Deployment Name>>
LI4DEVS.OPENAI.IMAGEURL=<<your image url>>