LI4DEVS.VISION.DIKEY=<<your Document Intelligence Key>>
LI4DEVS.VISION.DIENDPOINT=<<your Document Intelligence Endpoint>>
LI4DEVS.VISION.AIKEY=<<your Vision AI Key>>
LI4DEVS.VISION.VISIONENDPOINT=<<your Vision AI Endpoint>>